extends layout
block content
  h1= title
  - let rollsroyceid = toShow._id
  - let rollsroyce_type = toShow.rollsroyce_type
  - let rollsroycecost = toShow.cost
  - let rollsroycemodel  = toShow.model

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{rollsroyceid}
  - let actionid = "/resource/resource/rollsroyces/" + rollsroyceid
  form(id='RollsroyceForm', action= actionid, method="PUT")
    div.form-group
      label.rollsroyceAttr(for='rollsroyce_type') rollsroyce type
      input#rollsroyce_type(type='text' name='rollsroyce_type', value= rollsroyce_type )
    div.form-group
      label.rollsroyceAttr(for='model') rollsroyce model
      input#model(type='text' name='model', value= rollsroycemodel  )
    div.form-group
      label.rollsroyceAtmodeltr(for='cost') rollsroyce cost
      input#cost(type='number' name='cost', value= rollsroycecost )
      input(type="submit")
  script.
    document.forms['RollsroyceForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
      method: 'PUT',
      body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
      alert("Update succeded")
      // TODO handle body
      }).catch((error) => {
      // TODO handle error
      alert("Update failed " + error )
      });
    });