extends layout

block content
  div(class="container")
    div(class="col-md-12")
      div(class="col-md-6 col-sm-8 col-xs-4")
        h2(class="text-primary")= title
      div(class="col-md-4")
        form(id='RollsroyceForm', action="/resource/resource/rollsroyces/", method="POST")
          div.form-group
              label(for='rollsroyce_type') Rollsroyce type: 
              input#rollsroyce_type(type='text', name='rollsroyce_type',class="form-control form-control-sm" style="margin-bottom:10px")
          div.form-group
              label(for='cost') Rollsroyce Cost: 
              input#cost(type='text', name='cost',class="form-control form-control-sm" style="margin-bottom:10px")
          div.form-group
              label(for='model') Rollsroyce model: 
              input#model(type='number', name='model',class="form-control form-control-sm" style="margin-bottom:10px" )
          input(type="submit" class="btn btn-primary btn-sm")
      div(class="col-md-4")
  script.
    document.forms['RollsroyceForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          document.getElementById("errors").style.display = "block"
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          if (body.Name) {
            document.getElementById("errors").innerHTML = `${body.Name}  \n ${body.message}\n`;
            alert("Save Failed")
          } else {
            alert("Save succeded")
          }
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error)
        });
    });